<div class="panel panel-default">
<div class="panel-heading">
  <h2>Login</h2>
</div>
<div class="panel-body">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="{'has-error': (loginForm.get('email').touched ||
    loginForm.get('email').dirty) &&
     (loginForm.get('email').invalid)}">
        <label class="control-label" for="email">Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && controls.email.errors }" />
        <div *ngIf="(loginForm.get('email').touched ||
                    loginForm.get('email').dirty) &&
                    loginForm.get('email').errors" class="alert alert-danger">
            <div  *ngIf="controls.email.errors.required">Email is required</div>
            <div *ngIf="controls.email.errors.pattern">Email is not valid</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && controls.password.errors }" />
        <div *ngIf="(loginForm.get('email').touched ||
                    loginForm.get('email').dirty) && 
                    controls.password.errors" class="alert alert-danger">
            <div *ngIf="controls.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="alert alert-danger" [hidden]="userNotFound">
        User not found
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a [routerLink]="['/register']" class="btn btn-link">Register</a>
    </div>
</form>

</div>
</div>
