
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    float: left;
  }
  
  .mycontainer {
    padding: 0 16px;
  }
  
  .mycontainer::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

.vr {
	border: 0;
	border-left-color: gray;
	border-left-style: none;
	border-left-width: 0px;
	border-left: 1px solid rgba(0, 0, 0, .1);
}