<div class="panel panel-primary">
  <div class="panel-heading">
      <h1>{{user[0].firstName}} {{user[0].lastName}} </h1>
  </div>
  <div class="panel-body">
      <div class="card">
          <img src="assets/{{user[0].image}}" alt="Mike" style="width:100%" height="200px">
          <div class="mycontainer">
            <h2>{{user[0].firstName}} {{user[0].lastName}}</h2>
            <p class="title">Current Role: {{user[0].role}}</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>{{user[0].email}}</p>
        </div>
      </div>
      
  </div>
</div>

 